<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Master Mind</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center display-4">Master Mind</h1>
        <hr class="my-4">
        <div id="start-screen">
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <h2>Game code</h2>
                    <input type="text" class="form-control" id="game_code" minlength="6" maxlength="6"
                           pattern="^[0-9a-f]{6}$" style="max-width:200px;margin: 0 auto;">
                    <div id="error-box" class="mt-2">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6">
                    <button type="button" id="start_game" class="btn btn-primary btn-lg">Start game</button>
                </div>
                <div class="col-6">
                    <button type="button" id="join_game" class="btn btn-success btn-lg">Join game</button>
                </div>
            </div>
        </div>
        <div id="guessing-screen" style="display: none">
            <div class="row">
                <div class="col-3" style="margin: 0 auto">
                    <div class="card text-center">
                        <h4 class="card-header">Guesses left</h4>
                        <div class="card-body">
                            <h5 class="card-text" id="guesses-left">10</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <select class="form-control" id="guessing-select-1">
                        <option value="R">Red</option>
                        <option value="G">Green</option>
                        <option value="BU">Blue</option>
                        <option value="Y">Yellow</option>
                        <option value="W">White</option>
                        <option value="BA">Black</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control" id="guessing-select-2">
                        <option value="R">Red</option>
                        <option value="G">Green</option>
                        <option value="BU">Blue</option>
                        <option value="Y">Yellow</option>
                        <option value="W">White</option>
                        <option value="BA">Black</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control" id="guessing-select-3">
                        <option value="R">Red</option>
                        <option value="G">Green</option>
                        <option value="BU">Blue</option>
                        <option value="Y">Yellow</option>
                        <option value="W">White</option>
                        <option value="BA">Black</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control" id="guessing-select-4">
                        <option value="R">Red</option>
                        <option value="G">Green</option>
                        <option value="BU">Blue</option>
                        <option value="Y">Yellow</option>
                        <option value="W">White</option>
                        <option value="BA">Black</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <button type="button" class="btn btn-primary btn-lg" id="guess-button" style="margin: 0 auto">Guess</button>
            </div>
        </div>
        <div id="finish-screen" class="text-center" style="display: none">
            <div class="row">
                <div class="col-12">
                    <h2>Game over</h2>
                    <h3 id="finish-state"></h3>
                    <button type="button" class="btn btn-success btn-lg" id="restart-button">Start again</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" id="guesses">

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
<script>
    let status = {
        game_code: null,
        start_time: null,
        timer: null,
    };

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    const $guess_row = $(`<div class="row bg-secondary py-4 mb-3 rounded">
            <div class="col-2">
                <div class="row my-2">
                    <div class="col-6 px-2">
                        <div class="rounded-circle float-right resp-pin" style="width:20px;height:20px;"></div>
                    </div>
                    <div class="col-6 px-2">
                        <div class="rounded-circle resp-pin" style="width:20px;height:20px;"></div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-6 px-2">
                        <div class="rounded-circle float-right resp-pin" style="width:20px;height:20px;"></div>
                    </div>
                    <div class="col-6 px-2">
                        <div class="rounded-circle resp-pin" style="width:20px;height:20px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="row my-2">
                    <div class="col-3">
                        <div class="rounded-circle guess-pin" style="margin:0 auto;width:50px;height:50px;"></div>
                    </div>
                    <div class="col-3">
                        <div class="rounded-circle guess-pin" style="margin:0 auto;width:50px;height:50px;"></div>
                    </div>
                    <div class="col-3">
                        <div class="rounded-circle guess-pin" style="margin:0 auto;width:50px;height:50px;"></div>
                    </div>
                    <div class="col-3">
                        <div class="rounded-circle guess-pin" style="margin:0 auto;width:50px;height:50px;"></div>
                    </div>
                </div>
            </div>
        </div>`);
    const $game_code = $("#game_code");
    const $guesses = $("#guesses");
    const colour_map = {
        "R": "red",
        "G": "green",
        "Y": "yellow",
        "BU": "blue",
        "W": "white",
        "BA": "black",
    };

    function getGuesses() {
        $.get({
            url: '/game/' + status.game_code + '/guesses/',
            success: function (data) {
                if (data.status === "success") {
                    // console.log(data);
                    $guesses.html("");
                    for (let i = 0; i < data.guesses.length; i++) {
                        let $row = $guess_row.clone();
                        for (let j = 0; j < 4; j++) {
                            $($row.find(".guess-pin").get(j)).css("background-color", colour_map[data.guesses[i]["pos" + (j + 1)]]);
                            if (data.guesses[i].num_black > 0) {
                                data.guesses[i].num_black -= 1;
                                $($row.find(".resp-pin").get(j)).css("background-color", "black");
                            } else if (data.guesses[i].num_white > 0) {
                                data.guesses[i].num_white -= 1;
                                $($row.find(".resp-pin").get(j)).css("background-color", "white");
                            }
                        }
                        $guesses.prepend($row);
                    }
                    $("#guesses-left").text(data["guesses-left"]);
                    if (data.finished) {
                        $("#guessing-screen").hide();
                        $("#start-screen").hide();
                        $("#finish-screen").show();
                        clearInterval(status.timer);
                        $("#restart-button").on("click", function () {
                            $("#finish-screen").hide();
                            $("#start-screen").show();
                            $guesses.html("");
                            $game_code.val("");
                            $game_code.removeAttr("readonly");
                        });
                    }
                }
            },
            dataType: 'json'
        });
    }

    function sendGuess() {
        $.post({
            url: '/game/' + status.game_code + '/guess/',
            data: {
                "pos1": $("#guessing-select-1").val(),
                "pos2": $("#guessing-select-2").val(),
                "pos3": $("#guessing-select-3").val(),
                "pos4": $("#guessing-select-4").val(),
            },
            success: function (data) {
                getGuesses();
                if (data.last) {
                    if (data.correct) {
                        $("#finish-state").text("You win!")
                    } else {
                        $("#finish-state").text("You lose!")
                    }
                }
            },
            dataType: 'json'
        });
    }

    $(function () {
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $("#join_game").on("click", function () {
            if ($game_code.get(0).validity.valid) {
                const game_code = $game_code.val();
                if (game_code !== "") {
                    $.get({
                        url: '/game/' + game_code + '/',
                        success: function (data) {
                            if (data.status === "success") {
                                $("#error-box").html("");
                                status.game_code = data.game_id;
                                status.start_time = new Date(data.start_time * 1000);
                                $("#start-screen").hide();
                                $("#guessing-screen").show().find(".row:first").show();
                                status.timer = setInterval(getGuesses, 1000);
                                getGuesses();
                                $("#guess-button").text("Guess");
                                $("#guess-button").on("click", sendGuess);
                            } else {
                                $("#error-box")
                                    .html("<div class=\"alert alert-danger\" role=\"alert\">An unknown error occurred</div>")
                            }
                        },
                        error: function (data) {
                            if (typeof data.responseJSON !== "undefined") {
                                if (data.responseJSON.error === "not-found") {
                                    $("#error-box")
                                        .html("<div class=\"alert alert-danger\" role=\"alert\">Game not found</div>")
                                } else {
                                    $("#error-box")
                                        .html("<div class=\"alert alert-danger\" role=\"alert\">An unknown error occurred</div>")
                                }
                            } else {
                                $("#error-box")
                                    .html("<div class=\"alert alert-danger\" role=\"alert\">An unknown error occurred</div>")
                            }
                        },
                        dataType: "json"
                    });
                } else {
                    $("#error-box").html("<div class=\"alert alert-danger\" role=\"alert\">Please input a game code</div>")
                }
            } else {
                $("#error-box").html("<div class=\"alert alert-danger\" role=\"alert\">Please input a valid game code</div>")
            }
        });

        $("#start_game").on("click", function () {
           $("#start-screen").hide();
           $("#guessing-screen").show().find(".row:first").hide();
           $("#guess-button").text("Set");
            $("#guess-button").on("click", function () {
                $.post({
                    url: '/game/',
                    data: {
                        "pos1": $("#guessing-select-1").val(),
                        "pos2": $("#guessing-select-2").val(),
                        "pos3": $("#guessing-select-3").val(),
                        "pos4": $("#guessing-select-4").val(),
                    },
                    success: function (data) {
                        $("#start-screen").show();
                        $("#guessing-screen").hide().find(".row:first").show();
                        $("#error-box").html("");
                        status.game_code = data.game_id;
                        status.start_time = new Date(data.start_time * 1000);
                        status.timer = setInterval(getGuesses, 1000);
                        $game_code.val(data.game_id).attr("readonly", "true");
                    },
                    dataType: 'json'
                });
           });
        });
    });
</script>
</body>
</html>